.container {
    display: flex;
    justify-content: space-between;
    height: 100dvh;
    background-color: #e7e7e7;

}

.container aside {
    height: 100%;
    background-color: var(--main-color);
    color: var(--text-color);
    /* width: 100%; */
}

.container nav {
    height: 80px;
    width: 100%;
}