.sidebar {
    height: 100%;
    background-color: var(--main-color);
    color: var(--text-color);
    overflow: auto;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(227, 108, 24);
    position: relative;
    /* padding: 19px; */
    height: 9.6%;
}



.logo h2 {
    padding: 10px;
    font-family: 'Lobster', cursive;
    font-weight: 100;

}

.close {
    position: absolute;
    top: 40%;
    right: 0;
    padding: 0;
    color: var(--main-color);
    margin: 0;
    min-width: none;
    background: none;
    border: none;
    cursor: pointer;
    right: -10px;
}

.open {
    position: absolute;
    top: 35px;
    padding: 0;
    color: var(--text-color);
    margin: 0;
    min-width: none;
    background: none;
    border: none;
    cursor: pointer;
}


.dashboard {
    display: flex;
    align-items: center;
}

.dashboard svg {
    margin-right: 5px;
    padding: 5px;
}

.sidebar div ul {
    padding: 0;
    margin: 0;

}

.leftnav {
    padding: 30px 80px 10px 20px;
}

.leftnav div h5 {
    margin: 20px 10px 10px 10px;
    color: rgb(184, 99, 52);
}

.sidebar div li {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
}

.sidebar div li svg {
    margin-right: 10px;
}

.sidebar div li:hover,
.dashboard:hover {
    color: rgb(184, 99, 52);
}