.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 23px 10px;
    gap: 30px;
    background-color: var(--main-color);
    z-index: -1;
}


.actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.actions a {
    text-decoration: none;
    color: var(--text-color);
    transition: all .3s ease-in-out;
    padding: 10px;
    border-radius: 5px;
}

.actions a:hover {
    color: rgb(227, 108, 24);
    outline: 1px solid rgb(227, 108, 24);
}

.actions button {
    background-color: inherit;
    /* border: 1px solid var(--text-color); */
    border: none;
    color: var(--text-color);
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    transition: all .2s ease-in-out;
}

.actions button:hover {
    background-color: inherit;
    outline: 1px solid rgb(227, 108, 24);
    color: rgb(227, 108, 24);
}

.userControl {
    margin-right: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.userControl button {
    cursor: pointer;
    background: none;
    border: none;

}

.modal {
    position: absolute;
    width: fit-content;
    top: 30%;
    left: 50%;
}

.adminData {
    color: var(--text-color);
    font-size: 18px;
    padding-left: 20px;
}

.userSettings {
    position: absolute;
    background-color: var(--text-color);
    right: 0;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px -10px rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.userSettings h4 {
    margin: 5px 10px;
    color: var(--main-color);
    width: fit-content;
    align-self: center;
}

.userSettings ul {
    list-style: none;
    padding: 10px 20px;
    color: var(--main-color);
    cursor: pointer;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.userSettings ul li {
    display: flex;
    align-items: center;
    gap: 10px;
}

.userSettings ul li:last-child {
    color: #bd0000;
}

.userSettings ul li:hover {

    color: rgba(46, 17, 83, 0.702);
}

.userSettings button {
    color: var(--main-color);
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid var(--main-color);
    font-size: 18px;
    transition: all .5s ease-in-out;
    transform: skewX(10deg);
}


.userSettings button:hover {
    background-color: var(--main-color);
    color: var(--text-color);
    transform: translateZ(-10px)
}